<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup/add" method="POST">
        <label for="username">Email</label>
        <input type="text" name="email" id="username">
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button>Submit</button>
    </form>
    <a href="/login">Login</a>
    
</body>
</html>